[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry-sdk = "*"
boto3 = "*"
pyjwt = "*"

[dev-packages]
black = "*"
coveralls = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
moto = {extras = ["ssm"], version = "*"}

[requires]
python_version = "3.11"
